
@import "bootstrap/scss/bootstrap";

body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    align-items: stretch;
    width: "100%";
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -20rem;
    width: 20rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width: 100%;
}

.navbar {
    padding: 0.5rem 1rem;
}

.list-group-item {
    padding: 0.75rem 1.25rem;
}


.stage-layout1-root {
    width: 100%;
    height: 600px;
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stage-layout1-child {
    flex: 1;
    display: block;
    min-width:300px;
    border: solid 1px white;
}

.view-root {
    background-color: #EEEE;
    border-radius: 4px;
}

.view-container {
    width: 96%;
    margin: 0.5rem auto ;
    height: calc(100% - 40px);
    margin-top: auto;
    background-color: white;
    border-radius: 4px;
}


// ******************** Dhouib MST ******************** //


.dhouib-horizontal-header{

}

.dhouib-header-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid .5px blue;
    border-left: solid .5px blue;
    font-weight: 800;
    background-color: lightblue;
}

.dhouib-table {
    border: solid 1px grey;
    table-layout:fixed;
}


.dhouib-table-row {

}

.dhouib-table-cell {
    // background-color: red;
    border-top: solid 1px gray;
    border-left: solid 1px gray;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-collapse: collapse;
    overflow: hidden;
    table-layout:fixed;
}

